.home {
  background-image: url('./../../resources/questionMarks.jpg');
  width: 100%;
  height: 100%;
}

.open-modal {
  padding: 2rem;
  font-size: 4rem !important;

  background: #268;
  transition: all 0.5s;
}

.open-modal:hover {
  box-shadow: #FFF 0rem 0rem 4rem;
  background: #862;
  transition: all 0.5s;
}